.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.wave-btn,
.connect-btn {
  cursor: pointer;
  margin: 16px auto 0;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 200px;
}

.connect-btn {
  padding: 10px;
  margin: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.total-waves {
  text-align: center;
}

.connect-btn:disabled {
  cursor: not-allowed;
}

/* on smaller screens */
@media (max-width: 600px) {
  .main-container {
    width: 80%;
    margin: 20% auto;
  }

  .header {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
  }

  .connect-btn {
    padding: 7px;
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
  }
}
